.chess-board {
    width: 100%;
    height: calc( 100vh - 285px );
}

.chess-board.with-board > .wrap {
    background-image: url('../../assets/chess-board-bg.png');
}

.chess-board > .wrap {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.chess-board > .wrap > canvas {
     width: 100%;
     aspect-ratio: 1/1;
 }