.game-view {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
}

.game-view > .chess-board {
    flex: 1;
    padding: var(--margin-base);
}

.game-view-action-bar{
    height: 60px;
    width: 100%;

    display: flex;
    align-items: center;

    background: var(--adm-color-background);
}

.game-view-action-bar .action-bar-item {
    flex: 1;

    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.game-view-action-bar .action-bar-item .icon{

}

.game-view-action-bar .action-bar-item .text{
    margin-top: var(--margin-base-half);
}

.game-view-action-bar .action-bar-item.unselected .icon > .anticon {
    color: lightgrey !important;
}

.game-view .single-row {
    display: flex;
    align-items: center;
    gap: var(--margin-2x);

    height: 50px;
    font-size: 18px;

    background: white;
    padding: 0px var(--margin-base);
}