.problem-filter-view {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 998;

    background: var(--adm-color-border);

    padding-top: 50px;
    border-top: 1px solid var(--adm-border-color);
    border-bottom: 1px solid var(--adm-border-color);
}

.problem-filter-view .problem-filter-view-header{
    height: 40px;

    display: flex;
    align-items: center;

    padding: 0px var(--margin-base);

    background: var(--adm-color-background);
}

.problem-filter-view .problem-filter-view-header .caption{
    flex: 1;
}

.problem-filter-view .problem-filter-view-header .caption.active{
   color: var(--adm-color-primary);
}

.problem-filter-view .problem-filter-view-body{
}

.problem-filter-view .problem-filter-view-body.invisible{
    visibility: hidden;
}

.problem-filter-view .list-item {
    background: red;
}

.problem-filter-view .list-item.visited {
    background: lightgrey;
}

.problem-filter-view .button-bar{
    padding: var(--margin-base);
}

.problem-list-page .xms-page-content.with-padding-top {
    padding-top: 92px;
}