.problem-list-view-landscape {
    display: flex;
    flex-direction: row;
    align-items: stretch;

    width: 100%;
    height: 100vh;
}

.problem-list-view-landscape > .list-area{
    flex: 1;
    padding: 0px var(--margin-base);
}

.problem-list-view-landscape > .list-area > .list-view{
    position: relative;
    height: 100%;
}

.problem-list-view-landscape > .list-area > .list-view > .problem-filter-view {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    padding-top: initial;
}
.problem-list-view-landscape > .list-area > .list-view > .list-container {
    padding-top: 40px;
    height: 100%;
    overflow-y: auto;
}

.problem-list-view-landscape > .game-area {
    flex: 0;
    height: 100%;
    aspect-ratio: 1;
}

.problem-list-view-landscape > .game-area .chess-board{
    height: 100%;
    width: auto;
}
