@use "sass:math";

@forward '../../../node_modules/@cccis/vue3-common/src/packages/components/base/Variable.scss' with (

$icon-font-path: '../../../node_modules/@cccis/vue3-common/src/packages/fonts',

//AppHeadBar
$app-head-bar-height: 60px,
$app-head-bar-font-size: 16px, //文字大小
$app-head-bar-bg-color: #1A2143, //导航栏背景颜色
$app-head-bar-text-color: white, //文字颜色
$app-head-bar-item-width: auto,
$app-head-bar-item-height: 100%,

//Navbar
$navbar-item-text-color: #fff, //导航栏元素文字颜色

$panel-head-min-height: 30px,
$panel-head-title-font-size: 14px,
$panel-head-sub-title-font-size: 14px,

$table-head-row-text-color: black,

);

@import "../../../node_modules/@cccis/vue3-common/src/packages/scss/index.scss";

