.problem-info-popup .adm-popup-body{
    top: 55px;
    height: calc( 100vh - 55px );
    width: calc( 100vw - 805px );
    border: 1px solid var(--adm-color-border);
}

.problem-info-popup .adm-popup-body .adm-space {
    width: 100%;
}


.problem-info-view {

}

.problem-info-view .form-content {
    height: 412px;
}

.problem-info-view-action-bar{
    display: flex;
    align-items: center;

    background: var(--adm-color-background);
}

.problem-info-view-action-bar.horizontal{
    border-top: 1px solid var(--adm-color-border);

    position: fixed;
    z-index: 1000;
    bottom: 0px;
    height: 60px;
    width: 100%;

    flex-direction: row;
}

.problem-info-view-action-bar.vertical{
    width: 70px;
    height: 100%;

    flex-direction: column;
}



.problem-info-view-action-bar .action-bar-item {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}


.problem-info-view-action-bar.horizontal .action-bar-item{
    flex: 1;
    height: 100%;

    border-top: 4px solid var(--adm-color-primary);

    border-top: 4px solid var(--adm-color-primary);
}

.problem-info-view-action-bar.vertical .action-bar-item{
    width: 100%;
    aspect-ratio: 1;
}


.problem-info-view-action-bar .action-bar-item .icon{

}

.problem-info-view-action-bar .action-bar-item.unselected .icon > .anticon {
    color: lightgrey !important;
}


.problem-info-view-action-bar.horizontal .action-bar-item .text{
    margin-top: var(--margin-base-half);
}
.problem-info-view-action-bar.horizontal .action-bar-item.unselected {
    border-top: 4px solid transparent;
}


.problem-info-view-action-bar.vertical .action-bar-item .text{

}

.problem-info-view-action-bar .action-bar-item.unselected {

}

.problem-info-view-action-bar .action-bar-item.unselected .icon > .anticon {
    color: lightgrey !important;
}
